<!doctype html>
<html lang="en">
  <head>
    <title>Resume</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  </head>
  <body class="bg-gray-100 text-gray-800">

    <nav class="bg-white">
      <div class="container mx-auto px-4 py-2 flex justify-between items-center">
        <a href="home.html" class="text-lg font-semibold text-gray-700">Home</a>
      </div>
    </nav>


    <div id="resume" class="container mx-auto px-4 py-8">
      <h1 class="text-3xl font-bold mb-6">Resume</h1>
      <div class="bg-white rounded-lg p-6">
        <section class="mb-6">
          <h2 class="text-2xl font-semibold mb-2">Education</h2>
          <p class="text-gray-700">Bachelor of Science in Computer Science, University of Colorado Boulder</p>
        </section>
        <section class="mb-6">
          <h2 class="text-2xl font-semibold mb-2">Experience</h2>
          <p class="text-gray-700">Lifeguard and assistant teacher.</p>
        </section>
        <section class="mb-6">
          <h2 class="text-2xl font-semibold mb-2">Languages</h2>
          <p class="text-gray-700">Fluent in English, Spanish, Portuguese, and French. </p>
        </section>
        <section>
          <h2 class="text-2xl font-semibold mb-2">Skills</h2>
          <p class="text-gray-700">Proficient in SQL, Python, and C++</p>
        </section>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.js"></script>
  </body>
</html>
